*{
    margin: 0;
    padding: 0;
}
body{       
    background-color: black;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.container{

    background-color: blueviolet;
    width: 100%;
    height: 720px;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
    display: flex;
    flex: wrap;
}
.container > *:nth-child(1){
    flex: 1 1 15%;
    border-radius: 200px;

    width: 90px;

}
.container > *:nth-child(2){
    flex: 1 1 15%;
    border-radius: 200px;

}
.container > *:nth-child(3){
    flex: 1 1 30%;
    height: 100%;

}
.box {
    background-color: azure;
    height: 600px;
    width: 100px;
    margin: 10px;

}