*{
    margin: 0;
    padding: 0;
}
.top-vector{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: end;
    margin-bottom: -234px;
    margin-right: 20px;
}
#top-img{
    /* border: 5px solid red; */
    z-index: 1;
}
.bottom-vector{
    /* border: 2px solid green; */
    display: flex;
    justify-content: start;
    margin-top: -158px;
}
#bottom-img{
    /* border: 5px solid red; */
    z-index: 1;

}
body{
    background-color: black;
}
.container{
    /* border: 5px solid red; */
    width: 1100px;
    height: 600px;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
}
.green-box{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 250px;
    background-color: #6DC202;
    padding-inline: 3em;
    padding-top: 3em;
    border-radius: 250px;
}
.yellow-box{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 250px;
    background-color: #FFEB02;
    padding-inline: 3em;
    padding-top: 3em;
    border-radius: 250px;
}
.blue-box{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 250px;
    background-color: #4279F0;
    padding-inline: 3em;
    padding-top: 3em;
    border-radius: 250px;
}
.lerret-info{
    color: white;
    margin-bottom: 30px;
}
.akvarell-info{
    
    /* border: 2px solid red; */
    margin-bottom: 25px;
}
.mosaikk-info{
    color: white;
    margin-bottom: 66px;
}
h1{
    margin-top: 10px;
    text-align: end;
    font-family: Prompt;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    
}
h2{
    text-align: center;
    font-family: Prompt;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 132%;
    
}
p{
    text-align: center;
    font-family: Prompt;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    
}
button{
margin-left: 30px;
display: flex;
width: 185px;
height: 48px;
flex-direction: row;
align-items: center;
justify-content: start;
padding-left: 20px;
color: white;
border: none;
border-radius: 25px;
background-color: #6DC202;
font-family: Prompt;
font-weight: 900;
font-size: 22px;
text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
white-space: nowrap;
}
#mosaikk-btn{
    background-color:#FFEB02;
}
#lerret-btn{
    background-color: #4279F0;
}

#btn{
    display: flex;
    margin-left: 8px;
    padding-left: 10px;
    flex-direction: row;
    height: 48px
}
/* 
button{
    background-color: hsl(0, 0%, 95%);
    width: 150px;
    height: 48px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    border-radius: 25px;
} */

a {
    text-decoration: none;
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: #000000;
  }

  
  